API_BASE=http://localhost
PUBLIC_SITE_URL=http://localhost:5173

FRONTEND_HOST=frontend-c
FRONTEND_PORT=5173

BACKEND_HOST=server-c
BACKEND_PORT=3000

POSTGRES_HOST=postgres-c
POSTGRES_PORT=5432
POSTGRES_USER=postgre
POSTGRES_PASSWORD=your-password-here
POSTGRES_DB=info_db
