.room-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  gap: 10px;
}

.room-popup input {
  margin-left: 0.5em;
  padding: 0.2em 0.7em;

  border: 1px solid hsl(from var(--border-color) h s l / 0.2);
  border-radius: 8px;
}

.room-popup button {
  min-width: 84px;

  padding: 5px 3px;

  border: 1px solid hsl(from var(--border-color) h s l / 0.2);
  border-radius: 8px;

  color: white;
  background: var(--accent-color);

  text-align: center;

  cursor: pointer;
}
